*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    background-image: url('/assets/bg.jpg');
    background-position: center;
    background-size: cover;    
    display: flex;
    align-items: center;
    justify-content: center;
}



.search-bar{
    width: 100%;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.2);
    display:flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(200%);
    box-shadow:0 10px 20px rgba(0,0,0,0.3);

}

.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: rgba(255, 255, 255,0.6);
}

::placeholder{
    color: rgba(255, 255, 255,0.6);
}

.search-icon{
    background: transparent;
    border: 0;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search-icon svg{
    width: 30px;
    background: transparent;
    color: rgba(255,255,255,0.6);

}